*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  grid-template-columns: [full-start] 2rem [center-start] repeat(6, [col-start] 1fr [col-end]) [center-end] 2rem [full-end];
}
@media only screen and (min-width: 29.69em) {
  .container {
    grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] 1fr [col-end]) [center-end] 1fr [full-end];
  }
}
@media only screen and (min-width: 37.5em) {
  .container {
    grid-template-columns: [full-start] 4rem [center-start] repeat(6, [col-start] 1fr [col-end]) [center-end] 4rem [full-end];
  }
}
@media only screen and (min-width: 75em) {
  .container {
    grid-template-columns: [full-start] 8rem [center-start] repeat(6, [col-start] 1fr [col-end]) [center-end] 8rem [full-end];
  }
}

.divider {
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 2rem 0 4rem 0;
  background-size: 580px;
  height: 30px;
}

section .observe {
  opacity: 0;
  transform: translateY(20px) scale(0.1);
  transition: all 0.5s 0.3s;
}

section .observe.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.nav__link.active {
  opacity: 0.5;
}

.heading {
  font-family: "Lobster", sans-serif;
}
.heading__large {
  font-size: 5.2rem;
  text-shadow: 2px 2px 0 rgba(223, 223, 223, 0.9);
}
.heading__large--dark {
  color: #7d7d7d;
}
.heading__large--white {
  color: #fff;
}
.heading__small {
  font-size: 2rem;
  color: #7d7d7d;
  font-weight: 400;
  margin: 1rem 0;
}
.heading__small--white {
  color: #fff;
}

.text {
  font-family: "Oswald", sans-serif;
  line-height: 22px;
}
.text__base {
  font-size: 1.7rem;
}
.text__base--light {
  color: #a9a9a9;
  font-weight: 300;
}
.text__base--white {
  color: #fff;
}
.text__base--dark {
  color: #7d7d7d;
}
.text__small {
  font-size: 1.2rem;
}
.text__small--light {
  color: #a9a9a9;
}

.p-large {
  padding: 6rem 0 9rem 0;
}

.p-small {
  padding: 30px 0px;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.col-1 {
  grid-template-columns: 1fr;
}

.col-3-center {
  grid-template-columns: 2rem 2fr 2rem;
}

.flex {
  display: flex;
}

@media only screen and (min-width: 37.5em) {
  .mb-tab-port {
    margin: 0 !important;
  }
}

.services {
  grid-column: full-start/full-end;
  margin: 6.4rem 0;
}
@media only screen and (min-width: 29.69em) {
  .services {
    grid-column: center-start/center-end;
    grid-template-columns: auto 2fr auto;
  }
}
@media only screen and (min-width: 37.5em) {
  .services {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .services {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8rem;
  }
}
.services__divider {
  grid-column: 1/-1;
  background-image: url("../../img/services_divider.png");
}
.services__heading {
  grid-column: 1/-1;
}
.services__box {
  grid-column: 2/span 1;
  display: grid;
  justify-items: center;
  text-align: center;
}
.services__box:not(:last-child) {
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 37.5em) {
  .services__box {
    grid-column: auto;
  }
}
@media only screen and (min-width: 75em) {
  .services__box {
    grid-template-columns: min-content 1fr;
    text-align: left;
    column-gap: 1.6rem;
  }
}
.services__img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
@media only screen and (min-width: 56.25em) {
  .services__img:hover {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 75em) {
  .services__img {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
  }
}
@media only screen and (min-width: 75em) {
  .services__box-heading {
    grid-row: 1/span 1;
    grid-column: 2/span 1;
    justify-self: start;
  }
}
@media only screen and (min-width: 75em) {
  .services__text {
    grid-column: 2/span 1;
  }
}

.testimonials {
  grid-column: full-start/full-end;
  background-image: url(../../img/bg-pink.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.4rem 0;
  position: relative;
  grid-template-columns: 2rem repeat(6, 1fr) 2rem;
}
@media only screen and (min-width: 29.69em) {
  .testimonials {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media only screen and (min-width: 37.5em) {
  .testimonials {
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
  }
}
@media only screen and (min-width: 75em) {
  .testimonials {
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  }
}
.testimonials__wrapp {
  grid-column: 2/span 6;
}
@media only screen and (min-width: 37.5em) {
  .testimonials__wrapp {
    grid-template-columns: repeat(2, 1fr);
  }
}
.testimonials__topquote {
  width: 50px;
  grid-column: 2/span 1;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 37.5em) {
  .testimonials__topquote {
    grid-column: 1/span 1;
  }
}
.testimonials__bottomquote {
  width: 50px;
  grid-row: 5/span 1;
  grid-column: 2/span 1;
  justify-self: end;
  margin-top: 1rem;
}
.testimonials__box {
  grid-column: 2/span 1;
  text-align: center;
}
@media only screen and (min-width: 37.5em) {
  .testimonials__box {
    padding: 0 1.4rem;
  }
  .testimonials__box--left {
    grid-column: 1/span 1;
    text-align: right;
  }
  .testimonials__box--right {
    grid-column: 2/span 1;
    text-align: left;
  }
}
.testimonials__heading {
  text-shadow: 1px 1px 0 rgba(190, 115, 135, 0.9);
  margin-bottom: 2rem;
}
.testimonials__text {
  font-weight: 300;
}
.testimonials__divider {
  border-bottom: 1px solid #fff;
  width: 100%;
  margin: 2rem 0;
  grid-column: 2/span 1;
  justify-self: center;
}
@media only screen and (min-width: 37.5em) {
  .testimonials__divider {
    display: none;
  }
}

.works {
  grid-column: center-start/center-end;
  margin: 6.4rem 0;
  overflow: hidden;
}
.works__heading {
  grid-column: 1/-1;
}
.works__divider {
  grid-column: 1/-1;
  background-image: url("../../img/my_works_divider.png");
}
.works__button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.4rem;
}
.works__image-gallery {
  row-gap: 3.2rem;
}
@media only screen and (min-width: 37.5em) {
  .works__image-gallery {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .works__image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .works__image-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.works__figure {
  text-align: center;
  transition: rotate 0.3s;
  overflow: hidden;
}
.works__figure.show {
  transition: all 0.5s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.works__figure.hide {
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  pointer-events: none;
}
@media only screen and (min-width: 56.25em) {
  .works__figure:hover .works__caption img {
    transform: translateX(-50%) rotate(360deg);
  }
  .works__figure:hover .works__img {
    transform: scale(1.2);
  }
}
.works__img {
  width: 100%;
  transition: all 1s;
  display: block;
}
.works__caption {
  background-color: #f5f5f5;
  position: relative;
  padding-top: 1.6rem;
}
.works__caption img {
  width: 50px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%) rotate(0);
  transition: transform 0.5s ease;
}
.works__text {
  margin-bottom: 1.2rem;
}
.works__border-bottom {
  background-image: url(../../img/progresbar.jpg);
  height: 4px;
  width: 100%;
}

.btn {
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s;
  border: navajowhite;
  padding: 0.8rem 1.4rem;
  margin: 1rem;
}
.btn:hover {
  opacity: 0.8;
}
.btn--pink {
  background-color: #e0a6a5;
  border-bottom: 2px solid #eec0bf;
}
.btn--aquablue {
  background-color: #a5dce1;
  border-bottom: 2px solid #94d6d5;
}
.btn--yellow {
  background-color: #e0d9a3;
  border-bottom: 2px solid #dbd28f;
}
.btn--blue {
  background-color: #94cdc6;
  border-bottom: 2px solid #81c2ba;
}
.btn--green {
  background-color: #bfe1a4;
  border-bottom: 2px solid #b4d898;
}

.pricing {
  grid-column: full-start/full-end;
  background-image: url(../../img/bg_green.png);
  padding: 6.4rem 0;
  grid-template-columns: 2rem repeat(6, 1fr) 2rem;
}
@media only screen and (min-width: 29.69em) {
  .pricing {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media only screen and (min-width: 37.5em) {
  .pricing {
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
  }
}
@media only screen and (min-width: 75em) {
  .pricing {
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  }
}
.pricing__wrapp {
  grid-column: 2/span 6;
}
@media only screen and (min-width: 37.5em) {
  .pricing__wrapp {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .pricing__wrapp {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
  }
}
@media only screen and (min-width: 75em) {
  .pricing__wrapp {
    grid-template-columns: repeat(4, 1fr);
  }
}
.pricing__heading {
  grid-column: 1/-1;
  justify-self: center;
  text-shadow: 3px 3px 0 rgba(111, 176, 167, 0.9);
}
.pricing__divider {
  grid-column: 1/-1;
  background-image: url("../../img/prices_divider.png");
  margin-bottom: 12rem;
}
.pricing__box {
  transition: all 0.3s;
}
.pricing__box:not(:last-child) {
  margin-bottom: 12rem;
}
@media only screen and (min-width: 56.25em) {
  .pricing__box:not(:last-child) {
    margin: 0 0 8rem 0;
  }
}
@media only screen and (min-width: 56.25em) {
  .pricing__box:hover {
    transform: scale(1.05);
  }
  .pricing__box:hover .pricing__img img {
    transform: translateY(-50%) rotate(360deg);
  }
}
.pricing__img {
  background-color: #eef1ec;
  width: 100%;
  height: 110px;
  text-align: center;
}
.pricing__img img {
  width: 16rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.pricing__price {
  font-size: 2.4rem;
  text-align: center;
  background-image: url(../../img/bgribbon.jpg);
  background-size: contain;
  padding: 1.8rem 0;
  width: 100%;
}
.pricing__number {
  font-size: inherit;
  font-family: "Lobster", sans-serif;
  text-shadow: 3px 3px 0 rgba(111, 176, 167, 0.9);
}
.pricing__text {
  font-size: inherit;
  font-family: "Lobster", sans-serif;
}
.pricing__info {
  background-color: #eef1ec;
  width: 100%;
  clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  display: grid;
}
@media only screen and (min-width: 37.5em) {
  .pricing__info {
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  }
}
.pricing__info-text {
  padding: 2rem;
}
.pricing__list {
  list-style-type: none;
  padding: 0 2.4rem;
  margin: 0;
}
.pricing__item {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
}
.pricing__item:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(169, 169, 169, 0.3);
}
.pricing__item:before {
  content: "";
  background-image: url("../../img/star.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: scale(0.5);
  margin-right: 0.5rem;
}
.pricing__link {
  font-family: "Lobster", sans-serif;
  display: inline-block;
  justify-self: center;
  margin: 3rem 0 8rem 0;
}

.team {
  grid-column: center-start/center-end;
  margin: 6.4rem 0;
}
@media only screen and (min-width: 37.5em) {
  .team {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .team {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .team {
    grid-template-columns: repeat(4, 1fr);
  }
}
.team__divider {
  background-image: url(../../img/our_team_divider.png);
  grid-column: 1/-1;
}
.team__box:not(:last-child) {
  margin-bottom: 4.6rem;
}
@media only screen and (min-width: 37.5em) {
  .team__box:not(:last-child) {
    margin-bottom: 0;
  }
}
.team__info {
  background-color: #eef1ec;
  margin-bottom: 0.6rem;
  border: 1px solid #e8e8e8;
  padding: 4.8rem 2.4rem;
  text-align: center;
  display: grid;
  justify-items: center;
}
.team__img {
  width: 80%;
  transition: all 0.3s;
  margin-bottom: 2.4rem;
}
.team__img:hover {
  filter: brightness(1.1);
}
.team__social {
  width: 100%;
  background-color: #eef1ec;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #e8e8e8;
}
.team .team__icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  margin: 0 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.5s;
}
.team .team__icon:hover {
  transform: translateY(-50%) rotate(360deg);
}
.team .team__icon--twitter {
  background-image: url("../img/twitter_small.png");
}
.team .team__icon--instagram {
  background-image: url("../img/instagram_small.png");
}
.team .team__icon--youtube {
  background-image: url("../img/youtube_small.png");
}
.team__border-bottom {
  background-image: url(../../img/progresbar.jpg);
  height: 4px;
  width: 100%;
}

.skills {
  grid-column: full-start/full-end;
  background-image: url(../../img/bg-pink.png);
  padding: 6.4rem 0;
  grid-template-columns: 2rem repeat(6, 1fr) 2rem;
}
@media only screen and (min-width: 29.69em) {
  .skills {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media only screen and (min-width: 37.5em) {
  .skills {
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
  }
}
@media only screen and (min-width: 75em) {
  .skills {
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  }
}
.skills__wrap {
  grid-column: 2/span 6;
}
@media only screen and (min-width: 37.5em) {
  .skills__wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .skills__wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .skills__wrap {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
  }
}
.skills__heading {
  grid-column: 1/-1;
  justify-self: center;
}
.skills__divider {
  grid-column: 1/-1;
  background-image: url(../../img/skills_divider.png);
}
.skills__box {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-bottom: 3.2rem;
}
.skills__box--last {
  margin-bottom: 0;
}
@media only screen and (min-width: 75em) {
  .skills__box {
    grid-column: 1/span 1;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    text-align: left;
    column-gap: 2rem;
  }
}
@media only screen and (min-width: 75em) {
  .skills__heading-box {
    grid-column: 2/span 1;
    justify-self: start;
  }
}
.skills__img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 75em) {
  .skills__img {
    grid-column: 1/span 1;
    grid-row: 1/-1;
  }
}
.skills__text {
  font-weight: 300;
}
@media only screen and (min-width: 75em) {
  .skills__text {
    grid-column: 2/span 1;
  }
}
.skills__bracket {
  background-image: url(../../img/bracket.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110px;
  display: none;
  opacity: 0.5;
}
@media only screen and (min-width: 75em) {
  .skills__bracket {
    display: block;
    grid-column: 2/span 1;
    grid-row: 3/span 3;
  }
}

.progress {
  grid-column: 1/-1;
  grid-template-columns: 3fr 1fr;
  margin-top: 3.2rem;
}
@media only screen and (min-width: 56.25em) {
  .progress {
    width: 50%;
    justify-self: center;
  }
}
@media only screen and (min-width: 75em) {
  .progress {
    grid-row: 3/span 3;
    grid-column: 3/span 1;
    align-items: start;
    justify-self: end;
    width: 100%;
  }
}
.progress__heading {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  grid-column: 1/-1;
}
.progress__box {
  grid-template-columns: 1fr min-content;
}
.progress__box:not(:last-child) {
  margin-bottom: 2.4rem;
}
.progress__bgr {
  background-color: #f5f5f5;
  padding: 5px;
}
.progress__bar {
  height: 2rem;
  background-image: url(../../img/progresbar.jpg);
}
.progress__bar--primary {
  max-width: 80%;
}
.progress__bar--secondary {
  max-width: 60%;
}
.progress__bar--tertiary {
  max-width: 70%;
}
.progress__bar--quaternary {
  max-width: 30%;
}
.progress__bar--quinary {
  max-width: 55%;
}
.progress__star {
  background-image: url(../../img/bgnumberbar.png);
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
  margin-left: 1rem;
  display: grid;
}
.progress__star span {
  font-size: 1.2rem;
  font-family: "Lobster", sans-serif;
  justify-self: center;
  align-self: center;
}

.social {
  grid-column: full-start/full-end;
  margin: 6.4rem 0;
  padding: 9.6rem 0;
}
@media only screen and (min-width: 37.5em) {
  .social {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4rem;
  }
}
.social__heading {
  grid-column: 2/span 1;
}
@media only screen and (min-width: 37.5em) {
  .social__heading {
    grid-column: 1/-1;
  }
}
.social__divider {
  grid-column: 2/span 1;
  background-image: url("../../img/followus_divider.png");
}
@media only screen and (min-width: 37.5em) {
  .social__divider {
    grid-column: 1/-1;
  }
}
.social__link {
  grid-column: 2/span 1;
  justify-self: center;
  margin-bottom: 1.6rem;
  transition: 0.5s;
}
@media only screen and (min-width: 37.5em) {
  .social__link {
    grid-column: auto;
  }
}
@media only screen and (min-width: 56.25em) {
  .social__link:hover {
    transform: rotate(360deg);
  }
}
.social__link img {
  width: 112px;
  height: 112px;
}

.header {
  grid-column: center-start/center-end;
  position: relative;
}

.nav__list {
  grid-template-rows: repeat(9, min-content);
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 56.25em) {
  .nav__list {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .nav__list {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 1fr);
  }
}
.nav__item {
  border-bottom: 1px dashed #d6d5d5;
  padding: 2rem 0;
}
@media only screen and (min-width: 56.25em) {
  .nav__item {
    align-self: start;
    margin: 0.8rem;
    padding: 2rem 0;
  }
}
@media only screen and (min-width: 75em) {
  .nav__item {
    border-top: 1px dashed #d6d5d5;
  }
}
@media only screen and (min-width: 56.25em) {
  .nav__item-row-1 {
    grid-row: 1/span 1;
  }
}
@media only screen and (min-width: 75em) {
  .nav__item-row-1 {
    grid-row: auto;
    align-self: center;
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 56.25em) {
  .nav__item-row-2 {
    grid-row: 2/span 1;
  }
}
@media only screen and (min-width: 75em) {
  .nav__item-row-2 {
    grid-row: auto;
    align-self: center;
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 56.25em) {
  .nav__item-logo {
    grid-column: 3/span 1;
    grid-row: 1/span 2;
    border: none;
  }
}
@media only screen and (min-width: 75em) {
  .nav__item-logo {
    grid-column: 5/span 1;
  }
}
.nav__link, .nav__link:active, .nav__link:visited {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  color: #7d7d7d;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(223, 223, 223, 0.9);
  transition: all 0.3s;
}
.nav__link:hover, .nav__link:active:hover, .nav__link:visited:hover {
  opacity: 0.5;
}
.nav__link-logo img {
  width: 180px;
  transition: all 0.3s;
}
@media only screen and (min-width: 37.5em) {
  .nav__link-logo img {
    width: 100px;
  }
}
@media only screen and (min-width: 75em) {
  .nav__link-logo img {
    width: 180px;
  }
}
.nav__link-logo:hover img {
  transform: scale(1.01);
}

.footer {
  grid-column: full-start/full-end;
  grid-template-columns: 1fr max-content 1fr;
  margin-bottom: 6.4rem;
}
.footer__marker {
  grid-column: 2/span 1;
  grid-row: 1/-1;
  background-image: url(../../img/bigmarker.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 380px;
  height: 480px;
  padding-top: 6.2rem;
  padding-bottom: 1.6rem;
  display: grid;
  justify-content: center;
  align-content: start;
  text-align: center;
}
.footer__marker img {
  grid-column: 2/-1;
  justify-self: center;
  margin-bottom: 1.6rem;
}
.footer__list {
  padding: 0;
  margin: 0;
}
.footer__item {
  padding: 0 1.6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}
.footer__item:not(:last-child) {
  border-bottom: 1px dotted #a9a9a9;
  margin-bottom: 1.2rem;
}
.footer__item--primary::before {
  background-image: url(../../img/icon_home.png);
}
.footer__item--secondary::before {
  background-image: url(../../img/icon_phone.png);
}
.footer__item--tertiary::before {
  background-image: url(../../img/icon_fax.png);
}
.footer__item--quaternary::before {
  background-image: url(../../img/icon_mail.png);
}
.footer__item::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  transform: scale(0.5);
}
.footer__link {
  text-decoration: none;
  color: inherit;
}
.footer__img {
  grid-column: 2/span 1;
  justify-self: center;
  grid-row: 1/-1;
  align-self: end;
  width: 60px;
  height: 60px;
  display: block;
  transition: all 0.5s;
  cursor: pointer;
}
.footer__img:hover {
  transform: translateY(-10px);
}

/*# sourceMappingURL=style.css.map */
