// COLORS
$color-primary: #7d7d7d;
$color-secondary: #a9a9a9;
$color-white: #fff;
$bg-white-light: #f5f5f5;
$bg-white-gray: #eef1ec;
$bg-pink-light: #e0a6a5;
$bg-blue-light: #a5dce1;
$bg-blue-pastel: #94cdc6;
$bg-yellow-light: #e0d9a3;
$bg-green-light: #bfe1a4;

// FONTS
$font-oswald: "Oswald", sans-serif;
$font-lobster: "Lobster", sans-serif;
$font-heading: 5.2rem;
$font-heading-small: 2rem;
$font-size-base: 1.7rem;
$font-size-small: 1.2rem;
$text-shadow: 2px 2px 0 rgba(223, 223, 223, 0.9);
$text-shadow-pink: 1px 1px 0 rgba(190, 115, 135, 0.9);
$text-shadow-green: 3px 3px 0 rgba(111, 176, 167, 0.9);

// SPACING
$section-big-space: 9.6rem 0;
$section-medium-space: 6.4rem 0;
