.pricing {
  grid-column: full-start/full-end;
  background-image: url(../../img/bg_green.png);
  padding: $section-medium-space;

  grid-template-columns: 2rem repeat(6, 1fr) 2rem;

  @include respond(phone) {
    grid-template-columns: repeat(8, 1fr);
  }

  @include respond(tab-port) {
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
  }

  @include respond(big-desktop) {
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  }

  &__wrapp {
    grid-column: 2 / span 6;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
    }

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.4rem;
    }

    @include respond(big-desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__heading {
    grid-column: 1/ -1;
    justify-self: center;
    text-shadow: $text-shadow-green;
  }

  &__divider {
    grid-column: 1/ -1;
    background-image: url("../../img/prices_divider.png");
    margin-bottom: 12rem;
  }

  &__box {
    transition: all 0.3s;

    &:not(:last-child) {
      margin-bottom: 12rem;

      @include respond(tab-land) {
        margin: 0 0 8rem 0;
      }
    }

    @include respond(tab-land) {
      &:hover {
        transform: scale(1.05);
      }

      &:hover .pricing__img img {
        transform: translateY(-50%) rotate(360deg);
      }
    }
  }

  &__img {
    background-color: $bg-white-gray;
    width: 100%;
    height: 110px;
    text-align: center;

    img {
      width: 16rem;
      transform: translateY(-50%);
      transition: all 0.5s;
    }
  }
  &__price {
    font-size: 2.4rem;
    text-align: center;
    background-image: url(../../img/bgribbon.jpg);
    background-size: contain;
    padding: 1.8rem 0;
    width: 100%;
  }
  &__number {
    font-size: inherit;
    font-family: $font-lobster;
    text-shadow: $text-shadow-green;
  }

  &__text {
    font-size: inherit;
    font-family: $font-lobster;
  }

  &__info {
    background-color: $bg-white-gray;
    width: 100%;
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);

    display: grid;

    @include respond(tab-port) {
      clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    }

    &-text {
      padding: 2rem;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0 2.4rem;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0.2rem 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba($color-secondary, 0.3);
    }

    &:before {
      content: "";
      background-image: url("../../img/star.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
      transform: scale(0.5);
      margin-right: 0.5rem;
    }
  }

  &__link {
    font-family: $font-lobster;
    display: inline-block;
    justify-self: center;
    margin: 3rem 0 8rem 0;
  }
}
