.skills {
  grid-column: full-start/full-end;
  background-image: url(../../img/bg-pink.png);
  padding: $section-big-space;

  grid-template-columns: 2rem repeat(6, 1fr) 2rem;

  @include respond(phone) {
    grid-template-columns: repeat(8, 1fr);
  }

  @include respond(tab-port) {
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
  }

  @include respond(big-desktop) {
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  }

  &__wrap {
    grid-column: 2 / span 6;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.4rem;
    }

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(big-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__heading {
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__divider {
    grid-column: 1 / -1;
    background-image: url(../../img/skills_divider.png);
  }

  &__box {
    // grid-column: 2 / span 1;

    display: grid;
    justify-items: center;
    text-align: center;

    margin: 3.2rem 0;

    @include respond(big-desktop) {
      grid-column: 1 / span 1;

      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content min-content;

      text-align: left;

      column-gap: 2rem;
    }
  }

  &__heading-box {
    @include respond(big-desktop) {
      grid-column: 2 / span 1;
      justify-self: start;
    }
  }

  &__img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;

    @include respond(big-desktop) {
      grid-column: 1 / span 1;
      grid-row: 1/-1;
    }
  }

  &__text {
    font-weight: 300;

    @include respond(big-desktop) {
      grid-column: 2 / span 1;
    }
  }
}

.progress {
  grid-column: 1/-1;

  grid-template-columns: 3fr 1fr;

  margin-top: 3.2rem;

  @include respond(tab-land) {
    width: 50%;
    justify-self: center;
  }

  @include respond(big-desktop) {
    grid-row: 3 / span 3;
    grid-column: 2 / span 1;
    align-items: start;
    justify-self: end;

    width: 80%;
  }

  &__heading {
    font-family: $font-oswald;
    text-transform: uppercase;
    font-weight: 200;

    grid-column: 1/-1;
  }

  &__box {
    grid-template-columns: 1fr min-content;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__bgr {
    background-color: $bg-white-light;
    padding: 5px;
  }

  &__bar {
    height: 2rem;
    background-image: url(../../img/progresbar.jpg);

    &--primary {
      max-width: 80%;
    }
    &--secondary {
      max-width: 60%;
    }
    &--tertiary {
      max-width: 70%;
    }
    &--quaternary {
      max-width: 30%;
    }
    &--quinary {
      max-width: 55%;
    }
  }

  &__star {
    background-image: url(../../img/bgnumberbar.png);
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    margin-left: 1rem;

    display: grid;

    span {
      font-size: 1.2rem;
      font-family: $font-lobster;
      justify-self: center;
      align-self: center;
    }
  }
}
