.team {
  grid-column: center-start/center-end;
  margin: $section-big-space;

  @include respond(tab-port) {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }

  @include respond(tab-land) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(tab-land) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__divider {
    background-image: url(../../img/our_team_divider.png);
    grid-column: 1/-1;
  }

  &__box {
    &:not(:last-child) {
      margin-bottom: 4.6rem;

      @include respond(tab-port) {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    background-color: $bg-white-gray;
    margin-bottom: 0.6rem;
    border: 1px solid #e8e8e8;
    padding: 4.8rem 2.4rem;
    text-align: center;

    display: grid;
    justify-items: center;
  }

  &__img {
    width: 80%;
    transition: all 0.3s;
    margin-bottom: 2.4rem;

    &:hover {
      filter: brightness(1.1);
    }
  }

  &__social {
    width: 100%;
    background-color: $bg-white-gray;
    justify-content: center;
    gap: 1rem;
    border: 1px solid #e8e8e8;
  }

  // &__icon {
  //   width: 50px;
  //   transform: translateY(-50%);
  //   cursor: pointer;
  //   transition: 0.5s;

  //   &:hover {
  //     transform: translateY(-50%) rotate(360deg);
  //   }
  // }

  .team__icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    // background-repeat: no-repeat;
    background-position: center;
    margin: 0 0.5rem;

    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: translateY(-50%) rotate(360deg);
    }

    &--twitter {
      background-image: url("../img/twitter_small.png");
    }

    &--instagram {
      background-image: url("../img/instagram_small.png");
    }

    &--youtube {
      background-image: url("../img/youtube_small.png");
    }
  }

  &__border-bottom {
    background-image: url(../../img/progresbar.jpg);
    height: 4px;
    width: 100%;
  }
}
