.testimonials {
  grid-column: full-start/full-end;
  background-image: url(../../img/bg-pink.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: $section-medium-space;
  position: relative;

  grid-template-columns: 2rem repeat(6, 1fr) 2rem;

  @include respond(phone) {
    grid-template-columns: repeat(8, 1fr);
  }

  @include respond(tab-port) {
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
  }

  @include respond(big-desktop) {
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  }

  &__wrapp {
    grid-column: 2 / span 6;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__topquote {
    width: 50px;
    grid-column: 2 / span 1;
    margin-bottom: 1rem;

    @include respond(tab-port) {
      grid-column: 1 / span 1;
    }
  }

  &__bottomquote {
    width: 50px;
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    justify-self: end;
    margin-top: 1rem;
  }

  &__box {
    grid-column: 2 / span 1;
    text-align: center;

    @include respond(tab-port) {
      padding: 1.4rem;

      &--left {
        grid-column: 1 / span 1;
        text-align: right;
      }
      &--right {
        grid-column: 2 / span 1;
        text-align: left;
      }
    }
  }

  &__heading {
    text-shadow: $text-shadow-pink;
    margin-bottom: 2rem;
  }

  &__text {
    font-weight: 300;
  }

  &__divider {
    border-bottom: 1px solid $color-white;
    width: 100%;
    margin: 2rem 0;

    grid-column: 2 / span 1;
    justify-self: center;

    @include respond(tab-port) {
      display: none;
    }
  }
}
