.works {
  grid-column: center-start/center-end;
  margin: $section-medium-space;
  overflow: hidden;

  &__heading {
    grid-column: 1/-1;
  }

  &__divider {
    grid-column: 1 / -1;
    background-image: url("../../img/my_works_divider.png");
  }

  &__button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.4rem;
  }

  &__image-gallery {
    row-gap: 3.2rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
    }

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(big-desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__figure {
    text-align: center;
    transition: rotate 0.3s;
    overflow: hidden;

    &__figure.show {
      transition: all 0.5s;
      opacity: 1;
      visibility: visible;
      animation: fadeInUp 0.5s ease forwards;
      transform: translateY(0);
    }

    &__figure.hide {
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
      pointer-events: none;
    }

    @include respond(tab-land) {
      &:hover .works__caption img {
        transform: translateX(-50%) rotate(360deg);
      }
      &:hover .works__img {
        transform: scale(1.2);
      }
    }
  }

  &__img {
    width: 100%;
    transition: all 1s;
    display: block;
  }

  &__caption {
    background-color: $bg-white-light;
    position: relative;
    padding-top: 1.6rem;

    img {
      width: 50px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(0);
      transition: transform 0.5s ease;
    }
  }

  &__text {
    margin-bottom: 1.2rem;
  }

  &__border-bottom {
    background-image: url(../../img/progresbar.jpg);
    height: 4px;
    width: 100%;
  }
}
