.heading {
  font-family: "Lobster", sans-serif;

  &__large {
    font-size: $font-heading;
    text-shadow: $text-shadow;

    &--dark {
      color: $color-primary;
    }

    &--white {
      color: $color-white;
    }
  }

  &__small {
    font-size: $font-heading-small;
    color: $color-primary;
    font-weight: 400;
    margin: 1rem 0;

    &--white {
      color: $color-white;
    }
  }
}

.text {
  font-family: "Oswald", sans-serif;
  line-height: 22px;

  &__base {
    font-size: $font-size-base;

    &--light {
      color: $color-secondary;
      font-weight: 300;
    }

    &--white {
      color: $color-white;
    }

    &--dark {
      color: $color-primary;
    }
  }

  &__small {
    font-size: $font-size-small;

    &--light {
      color: $color-secondary;
    }
  }
}
