.p-large {
  padding: 6rem 0 9rem 0;
}

.p-small {
  padding: 30px 0px;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.col-1 {
  grid-template-columns: 1fr;
}

.col-3-center {
  grid-template-columns: 2rem 2fr 2rem;
}

.flex {
  display: flex;
}

.mb-tab-port {
  @include respond(tab-port) {
    margin: 0 !important;
  }
}
